// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');
@import "fonts";
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Custom Scss
@import "main/main";
// Templates
@import "app/templates/header";
@import "app/templates/navbar";
@import "app/templates/footer";
// Statics
@import "app/statics/home";
@import "app/statics/profile";
@import "app/statics/edit-profile";
@import "app/statics/quiz";
@import "app/statics/login";
@import "app/statics/register";

body {
  background-color: #002650;
  //  box-sizing: border-box;
  //  background-color: $primary;
  //  color: #fff;
  //  margin: 0;
  //  padding: 0;
  //  max-width: 100%;
  //  overflow-x: hidden;
  //  font-family: $font-family-sans-serif;
  //  font-size: 16px;
  //  font-weight: 400;
  //  line-height: 1.7;
}
