.edit-profile-wrapper {
  color: #ffffff;

  .main-title {
    font-size: 30px;
    color: #fff;
    margin-bottom: 15px;
  }

  .edit-profile-sections {
    display: flex;
    justify-content: center;
  }

  .edit-profile-section {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin-bottom: 30px;

    .edit-profile-section-main {
      .edit-profile-section-main-title {
        font-size: 30px;
        color: #fff;
      }
    }

    .edit-profile-section-headlines, .edit-profile-section-group {
      width: 50%;
    }

    .edit-profile-section-headlines {

      .edit-profile-section-headlines-title {
        font-size: 20px;
        line-height: 20px;
      }

      .edit-profile-section-headlines-description {
        opacity: .7;
      }
    }

    .edit-profile-section-group {

      .edit-profile-section-group-label {
        width: 100%;

        .edit-profile-section-group-label-span {
          display: block;
          margin-bottom: 10px;
        }
      }

      .edit-profile-section-group-input {
        color: #ffffff;
        background-color: rgba(0, 61, 120, 0.5);
        border: none;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &::placeholder {
          color: #ffffff;
        }

        &:hover {
          background-color: rgba(0, 61, 120, 0.7);
        }
      }

      .edit-profile-section-group-btn {
        color: #ffffff;
        background-color: rgba(0, 61, 120, 0.5);
        border: 1px solid rgba(0, 61, 120, 0.7);
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover {
          background-color: rgba(0, 61, 120, 0.7);
        }
      }

    }

    .edit-profile-section-footer {
      .edit-profile-section-footer-btn {
        color: #ffffff;
        background-color: rgba(0, 61, 120, 0.5);
        border: 1px solid rgba(0, 61, 120, 0.7);
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover {
          background-color: rgba(0, 61, 120, 0.7);
        }

      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid #003d78;
    }

  }

}

