@import "../../variables.scss";
@import "~bootstrap/scss/mixins/grid";

.hero {
    display: flex;
    align-items: center;
    //height: 90vh;
    position: relative;
    overflow: hidden;

    background-position: center;
    background-size: cover;
    //background: url("/images/back-home.png") 40% no-repeat;
    background-size: cover;
    height: 75vh;

    .videoContainer {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    iframe {
        /* optional */
        width: 100%;
        height: 100%;
    }
}

.participate, .create {
    background-color: #003D78;
    width: 100%;
    padding: 20px 0px;
    @include media-breakpoint-down(md) {
        padding: 20px 20px;
        .itm {
            margin: 10px 0px;
        }
    }

    .head-titlte {
        font-weight: lighter;
        font-size: 24px;
        color: white;
        font-family: "Avenir Next", sans-serif;
    }

    .itm {
        display: flex;
        align-items: center;
        justify-content: center;

        .nb {
            border-radius: 93%;
            padding: 15px 24px;
            background-color: rgba(white, 0.13);
            font-family: "Avenir Next", sans-serif;
            color: white;
        }

        .txt {
            font-weight: lighter;
            padding-left: 15px;
            font-size: 13px;
            color: white;
            font-family: "Avenir Next", sans-serif;

        }
    }
}

.defi-create {
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #003D78;
    background-image: url("/images/bg-login.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    @include media-breakpoint-down(md) {
        padding: 0px 20px;
    }

    .head {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;

        h4 {
            font-family: "Avenir", sans-serif;
            font-weight: bold;
            color: white;
            font-size: 35px;
            line-height: 30px;
            margin-bottom: 30px;
            width: 100%;
            text-transform: uppercase;
        }

        .btn-blue {
            background-color: #002650;
            padding: 7px 45px;
            color: white;
            font-weight: lighter;
        }
    }
}

.actuality {
    padding: 40px 0px 60px;
    background-color: #003D78;
    background-image: url("/images/asset-3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    @include media-breakpoint-down(md) {
        padding: 40px 20px 60px;
    }

    .title {
        color: white;
        text-transform: uppercase;
        font-size: 23px;
        padding: 20px 0px;
    }

    .actu {
        width: 100%;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;

        .head-img {
            width: 100%;
            //max-height: 100px;
        }

        .head-content {
            padding: 15px 15px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            h4 {
                font-size: 22px;
                color: black;
                font-family: "Avenir Next", sans-serif;
            }

            .content {
                p {
                    font-size: 16px;
                    color: black;
                    font-family: "Avenir Next", sans-serif;
                    font-weight: normal;
                }
            }
        }
    }
}

.hero-headlines {
}

.hero-logo {
    width: 30vh !important;
    height: auto;
}

.hero-title {
    text-align: left;
    max-width: 768px;
    margin-right: auto;
    font-size: 65px;
    font-weight: 700;

}

.hero-description {
    font-size: 14px;
    opacity: 0.7;
}

.hero-btn {
    margin-top: 30px;
    background-color: $primary-light;
    color: $text-on-primary;
    display: inline-block;
    position: relative;
    border: solid 1px #00aeff;
    font-family: $font-family-sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 50px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: color .2s, background-color .2s, border-color .2s;

    &:hover {
        background-color: #00aeff;
        border: solid 1px #00aeff;
        color: #fff;
    }
}

.section {
    &.section-clan {


        background-color: #002650;
        padding: 3rem 0;
        @include make-col-ready();
        @include make-col(12);

        .headlines {
            display: block;
            margin: 0 0 1rem 1rem;
            color: $text-on-primary !important;

            .title {
                display: inline-block;
                font-size: 35px;
                font-weight: 300;
                font-family: "Avenir", sans-serif;
                font-weight: bold;
            }

            .sub-title {
                display: inline-block;
                font-size: 14px;
                font-weight: 400;
                transition: all 0.3s ease-in-out;
                margin-left: 1rem;
                opacity: 0.5;

                &:hover {
                    opacity: 1;
                }
            }

            &:hover {
                text-decoration: none !important;
            }
        }

    }
}

.clans-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @include media-breakpoint-down(md) {
        .col-md-2 {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .clan {
        display: inline-block;
        width: 200px;
        margin: 0 1rem 2rem 1rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        border-radius: 40px 40px 0 0;

        .clan-thumbnail {
            width: 100%;
            height: 200px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transition: all 0.3s ease-in-out;
            border-radius: 40px;
        }

        .clan-info {
            position: relative;
            color: $text-on-primary;
            text-align: center;
            padding: 1rem 0;

            .clan-name {
                display: block;
                font-size: 16px;
                font-family: "Avenir", sans-serif;
                font-weight: bold;
            }

            .clan-score {
                display: block;
                font-size: 14px;
                opacity: 0.7;
            }

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 0;
                transition: all 0.3s ease-in-out;
                z-index: -1;
            }
        }

        &:hover {
            border-color: $primary-light;
            //background-color: $primary-light;
            transform: translate(0, -2px);
            box-shadow: 0 6px 14px 6px rgba(0, 0, 0, 0.18);

            .clan-info:before {
                background-color: $primary-light;
                content: '';
                height: 100%;
            }

            .clan-thumbnail {
                border-radius: 0;
            }
        }
    }
}