.login-section {
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/images/bg-login.png");
}

.login-section .form-group label input,
.form-group label select,
.register-section .form-group label input,
.register-section .form-group label select {
  width: 100%;
  border-radius: 0px !important;
  background-color: unset;
  border: unset !important;
  border-bottom: 1px solid black !important;
  font-size: 18px;
}

.login-container {
  height: 100%;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-headlines {
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  width: 100%;

  .login-headlines-logo {
    width: 250px;
    height: auto;
    margin-bottom: 20px;
  }

  .login-headlines-title {
    color: #707070;
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: normal;
  }

  &::after {
    position: absolute;
    left: 45%;
    top: 110%;
    content: '';
    height: 1px;
    width: 10%;
    margin: 0 auto;
    background-color: #707070;
  }

}

.login-label {
  width: 100%;
  color: black;
  font-size: 18px;
  margin-bottom: 30px;

  .login-input {
    width: 100%;
    background-color: unset;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-bottom: 1px solid black;
    font-size: 18px;

    &.is-invalid {
      border-bottom: 1px solid red !important;
    }

    &:focus {
      border-bottom: 1px solid #003a7b;
      box-shadow: none;
      text-overflow: unset;
      text-decoration: unset;
      outline-offset: 0 !important;
      outline: none;
    }
  }
}

.login-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .login-footer-btn {
    padding: 7px 45px;
    color: white;
    font-weight: lighter;
    font-family: "Avenir Book", sans-serif;
    background-color: #002650;
    margin-bottom: 20px;
  }

  .login-footer-link {
    color: white;
  }
}