@import "~bootstrap/scss/mixins/grid";

.main-title {
  font-size: 40px;
  color: #fff;
  margin-bottom: 15px;
}

.profile-header-wrapper {
  background-color: #003d78;
  color: #fff;
}

.profile-header {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;

  .profile-thumbnail {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 100%;

    .profile-thumbnail-image {
      width: auto;
      height: 100%;
    }

    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
    }
  }

  .profile-info-wrapper {
    display: flex;
    padding: 15px;

    .profile-info {
      margin-right: 20px;

      .overline {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 15px;

        .user-name {
          font-size: 20px;
          font-weight: 100;
          padding: 0;
          margin: 0 auto 0 0;
          text-transform: capitalize;
        }

        .profile-info-btn {
          display: flex;
          align-items: center;
          justify-content: center;

          &:not(:last-child) {
            margin-right: 10px;
          }

          .profile-btn-icon {

          }
        }

        .btn-edit {

          .profile-btn-icon {
            width: 20px;
          }
        }

        .btn-disconnect {

          .profile-btn-icon {
            width: 25px;
          }
        }

      }

      .profile-headlines {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #fff;
        font-size: 25px;
        font-weight: bold;

        .axe {
          display: inline-block;
          margin-right: 15px;
          text-transform: capitalize;
        }

        .promotion {
          display: inline-block;
          height: 30px;
          min-width: 30px;
          padding: 0 10px;
          line-height: 30px;
          text-align: center;
          border-radius: 25px;
          background-color: #6296d4;
          text-transform: capitalize;
        }
      }

      @include media-breakpoint-down(md) {
        margin: 10px 0;
      }
    }

    .scores {

      .score-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;


        .score {
          font-size: 30px;
          margin-right: 10px;
          margin-bottom: 0;

          .triangle {
            margin-right: 10px;
            width: 15px;
            height: auto;
          }
        }

        .label {
          font-size: 20px;
          font-weight: 100;
          text-transform: uppercase;
          margin-bottom: 0;
        }
      }
    }

    @include media-breakpoint-up(lg) {
      max-width: 50%;
    }

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      width: 100%;
    }
  }

  .clan {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .clan-logo-wrapper {
      width: 200px;

      .clan-logo {
        width: 100%;
        height: auto;
        border-radius: 50%;
        margin-bottom: 15px;
      }
    }

    .clan-label {
      font-size: 25px;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    @include media-breakpoint-down(lg) {
      width: 100%;
    }

  }

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
}

.list-link {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15px;
  border-bottom: none;

  .nav {

    .nav-item {
      position: relative;

      .nav-link {
        color: #ffffff;
        text-transform: uppercase;
        padding: 15px 10px;

        &.active:after {
          position: absolute;
          top: 100%;
          left: 0;
          content: '';
          height: 2px;
          width: 100%;
          background-color: #6296d4;
        }

        &:hover {
          color: #fff;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    justify-content: center;
  }
}

.tab-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;

  .items {
    overflow-x: hidden;
  }

  .shop-list {
    color: #fff;

    .shop-item {

      .item-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 50px;
        width: 100%;

        .content {
          width: 100%;

          .img {
            display: inline-block;
            margin-right: 10px;

            .item-img {
              width: 85px;
              height: 85px;
              border: 1px solid black;
            }

            @include media-breakpoint-between(md, lg) {
              margin-bottom: 10px;
            }
          }

          .item {
            display: inline-block;

            .item-name {
              color: #fff;
              font-size: 20px;
            }

            .item-description {
              color: #fff;
              font-size: 15px;
              opacity: .7;
            }
          }

          @include media-breakpoint-between(md, lg) {
            text-align: center;
          }
        }

        .bottom {
          display: flex;
          width: 93%;
          justify-content: space-between;
          align-items: center;

          .level {
            color: #fff;
            font-weight: 100;
          }

          .price {
            color: #fff;
            font-weight: 100;

            @include media-breakpoint-between(md, lg) {
              margin-bottom: 10px;
            }
          }

          @include media-breakpoint-between(md, lg) {
            margin-top: 0;
            flex-direction: column;
          }
        }

        @include media-breakpoint-between(md, lg) {
          margin-bottom: 30px;
        }

        @include media-breakpoint-down(md) {
          margin-bottom: 20px;
        }
      }
    }

  }

  @include media-breakpoint-down(md) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.achievements {

  .achievement-item {
    width: 170px;
    height: auto;
  }
}