@import "~bootstrap/scss/mixins/breakpoints";

.quiz-header {
  text-align: center;
  padding: 5rem 0;
  color: #ffffff;

  .header-logo {
    width: 150px;
    height: auto;
    margin-bottom: 3rem;

    @include media-breakpoint-down(md) {
      margin-bottom: 1rem;
    }
  }

  .header-title {
    font-size: 30px;
  }

  .header-sub-line {
    font-size: 14px;
    opacity: 0.7;
  }

  @include media-breakpoint-down(md) {
    padding: 2rem 0;
  }
}

.quiz-form {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;

  .quiz-block {
    display: flex;
    margin-bottom: 30px;
    color: #ffffff;

    .quiz-headlines, .quiz-inputs {
      width: 50%;

      @include media-breakpoint-down(md) {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    .quiz-headlines {
      display: flex;
      align-items: center;
      justify-content: center;

      .quiz-label {
        width: 150px;
        font-size: 40px;
        text-align: center;
        opacity: 0.7;

        @include media-breakpoint-down(md) {
          display: none;
        }
      }

      .quiz-question {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 412px;
        height: 100%;
        padding: 10px 20px;
        font-size: 20px;
        font-weight: 100;
        background-color: #003d78;
        margin: 0 10px;

        .quiz-question-label {
          display: none;
          margin-right: 20px;

          @include media-breakpoint-down(md) {
            display: contents;
          }
        }

        @include media-breakpoint-down(md) {
          width: 100%;
          height: auto;
          font-size: 16px;
        }
      }

      @include media-breakpoint-down(md) {
        flex-direction: column;
      }
    }

    .quiz-inputs {
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex: 1;

      .input-radio {
        font-size: 16px;
        width: 100%;
        margin-bottom: 10px;
        color: #ffffff;
        cursor: pointer;

        .input-radio-span {
          display: block;
          background-color: rgba(175, 175, 175, 0.2);
          padding: 5px 15px;
          width: 100%;
          transition: background-color .3s ease-in-out;

          &:hover {
            background-color: rgba(175, 175, 175, 0.6);
          }
        }

        .input-hidden {
          display: none;

          &:checked + .input-radio-span {
            background-color: #AFAFAF;
          }
        }

        .input-label {
          color: #ffffff;
          margin-bottom: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }

      }

      @include media-breakpoint-down(md) {
        margin-bottom: 0;
      }
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  .quiz-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 50px 0;

    .quiz-btn {
      padding: 10px 20px;
      font-size: 14px;
      background-color: #003d78;
      border: none;
      color: #ffffff;
      cursor: pointer;
      transition: transform .3s ease-in-out;

      &:hover {
        transform: translate(0, -1px);
      }
    }

    @include media-breakpoint-down(md) {
      padding: 0 0 30px 0;
    }
  }
}
