.register-section {
  min-height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/images/bg-login.png");
}

.register-container {
  height: 100%;
}

.register-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 30px;

  .form-group {
    margin-bottom: 0;
  }
}

.register-headlines {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
  text-align: center;

  .register-headlines-logo {
    width: 250px;
    height: auto;
    margin-bottom: 20px;
  }

  .register-headlines-title {
    color: #707070;
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: normal;
  }

  &::after {
    position: absolute;
    left: 45%;
    top: 100%;
    content: '';
    height: 1px;
    width: 10%;
    margin: 0 auto;
    background-color: #707070;
  }

}

.register-label {
  width: 100%;
  color: black;
  font-size: 18px;
  margin-bottom: 15px;

  .register-input {
    width: 100%;
    background-color: unset;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-bottom: 1px solid black;
    font-size: 18px;

    &.is-invalid {
      border-bottom: 1px solid red !important;
    }

    &:focus {
      border-bottom: 1px solid #003a7b;
      box-shadow: none;
      text-overflow: unset;
      text-decoration: unset;
      outline-offset: 0 !important;
      outline: none;
    }
  }
}

.register-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px 0 30px 0;

  .register-footer-btn {
    padding: 7px 45px;
    color: white;
    font-weight: lighter;
    font-family: "Avenir Book", sans-serif;
    background-color: #002650;
    margin-bottom: 20px;
  }

  .register-footer-link {
    color: white;
  }
}