header .row {
  height: 100px;
  display: flex;
  align-items: center;
}

header .row .col-md-5 {
  display: flex;
  justify-content: space-around;
}

header .row .col-md-5 a {
  color: black;
}

hr {
  margin-top: 0;
}

.list-link {
  .nav-tabs {
    border: none;
  }
  li {
    border: none !important;
    background-color: unset !important;
  }
  a {
    border: none !important;
    background-color: unset !important;
    color: black;
    &.active {
      //color: green !important;
      position: relative;
      &::after {
        content: '';
        width: 100%;
        position: absolute;
        height: 1px;
        background-color: #EF5857;
        bottom: 0px;
        left: 0px;
      }
    }
  }
}

.profil {
  margin-top: 10px;
  //padding: 0px 100px;

  .profile-row {
    //padding: 0px 0px 0px 95px;
  }
}

//.col-md-10 hr {
//  width: 100%;
//  height: 2px;
//  background-color: black;
//  border: none;
//}
//
//.profil .row .col-md-2 img {

//}
//
//.profil .row .col-md-2 .photo img {
//  width: 25px;
//  height: 25px;
//}

.logo-user{
    width: 130px;
    height: 130px;
}

h2 {
  margin-top: 10px;
  font-size: 20px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

.col-md-4 hr {
  width: 100%;
  height: 1px;
  background-color: #C4C4C4;
  border: none;
}

//.col-md-4 p {
//  font-size: 12px;
//  line-height: 12px;
//}

.profil .col-md-2 {
  display: flex;
  align-items: center;
}

#Triangle {
  width: 25px;
  height: 25px;
}

//.profil .col-md-2 h4 {
//  font-size: 40px;
//  text-decoration: none;
//}
//
//.profil .col-md-2 p {
//  font-size: 15px;
//  margin-left: 2px;
//  margin-top: 10px;
//}

.profil {
  .block {
    min-width: 120px;
    margin: 0px 30px;
    h4 {
      font-size: 40px;
      text-decoration: none;
    }

    p {
      font-size: 15px;
      //margin-left: 2px;
      margin-top: 10px;
      display: flex;
      min-width: 45px;
      align-items: center;
      justify-content: flex-start;
    }

  }
}

#DieuNordique {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.logo-clan {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.edit-profil {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.tab-row {
  box-shadow: 0 11px 23px -2px rgba(0, 0, 0, 0.1);

}

#DieuNordique p {
  font-size: 20px;
  font-weight: 400;
}

.ligne hr {
  width: 100%;
  border: 1px solid lightgrey;
}

.col-md-4 a {
  color: black;
  background-color: white;
}

.col-md-4 p button:hover {
  text-decoration: underline;
}

#multiCollapseAchivements img {
  width: 110px;
  height: 110px;
}

.carré {
  display: flex;
  justify-content: center;
  border: 1px solid red;
  height: 45px;
}

#multiCollapsePaliers .col-md-1 p {
  text-align: center;
  color: red;
  width: 30px;
  line-height: 20px;
}

.progress {
  margin-top: 30px;
}

#lvl {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  color: red;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #BABABA
}

.items {
  overflow: scroll;
  max-height: 50vh;
  .item-block {
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .img {
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        .item-img {
          width: 85px;
          height: 85px;
          border: 1px solid black;
        }
      }
      .item {
        h4 {
          font-size: 20px;
          color: black;
          text-transform: uppercase;
          margin-bottom: 10px;
        }
        p {
          font-size: 12px;
          color: #707070;
        }
      }
    }
    .bottom {
      display: flex;
      width: 93%;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      span {
        color: #101010;
        font-weight: bold;
        font-size: 15px;
      }
      .btn {
        color: white;
        font-size: 15px;
        background-color: #40B430;
        border-radius: 52px;
        padding: 3px 20px;
        text-transform: uppercase;
        &.btn-danger {
          background-color: $red !important;
        }
        &.disabled {
          cursor: not-allowed;
        }
      }
    }
  }
}

.edit-profil{

}