.accordion {
    border: 1px solid black !important;
    border-radius: 1px;

    .btn {
        &.btn-link {
            &:hover, &:focus {
                color: black;
                text-decoration: unset;
            }
        }
    }

    .form-group {
        input {
            background-color: unset;
            border: 1px solid black;
        }
    }
}

@include media-breakpoint-down(md) {
    .head-to {
        flex-direction: column;
    }
}

.pagination {
    .page-item {
        &.active {
            .page-link {
                font-weight: bold;
                background-color: unset !important;
                border-bottom: 1px solid black !important;
                color: black !important;
            }
        }

        .page-link {
            border: none;
            background-color: unset !important;
            color: black !important;

        }
    }
}

section {
    background-color: #002650;

    span {
        font-family: "Avenir Next", sans-serif;
        font-size: 14px;
    }

    &.challenges {
        position: relative;

        &::after {
            content: '';
            background-image: url("/images/logo-opacity.png");
            background-size: contain;
            background-repeat: repeat-y;
            background-position: center;
            position: absolute;
            height: 97%;
            top: 100px;
            width: 100vw;
            margin: 0 auto;
            //left: 25%;

        }

        padding: 35px 0px;

        h3 {
            font-size: 23px;
            color: white;
        }

        span {
            font-size: 16px;
            color: white;
        }

        .z-more {
            z-index: 1;
        }

        .challenge-card {
            z-index: 1;
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #003D78;

            .head-challenge {
                width: 100%;

                img {
                    height: 230px;
                    max-height: 230px;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .challenge-desc {
                padding: 30px 20px;
                margin-bottom: 15px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                height: 100%;

                p {
                    font-family: "Avenir Next", sans-serif;
                    font-size: 16px;
                    color: white;
                }

                .content-challenge{

                }

                .title {
                    font-size: 16px;
                    color: white;
                    margin-bottom: 10px;
                }

                .contraintes {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;

                    .contrainte {
                        color: white;
                        font-size: 14px;
                    }
                }
            }

            .challenge-footer {
                padding: 0px 20px 20px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 100%;
            }
        }
    }
}