.ob-cover {
    object-fit: cover;
}

.nav {
    nav {
        a {
            text-transform: uppercase;
            color: #101010;
        }
    }
}

.home-page {
    //height: 70vh;
    padding: 80px 0px !important;
}

@media screen and (max-width: 575px) {

}

.bottom-slice {
    position: relative;

    &.white {
        &::after {

            background-color: white;
        }
    }

    &::after {
        position: absolute;
        bottom: -4px;
        background-color: black;
        left: 0%;
        content: "";
        width: 100%;
        height: 1px;

    }
}

.modal {
    .modal-content {
        height: 90vh;
    }
}

