.clan {
    display: inline-block;
    background-color: transparent;
    outline: none;
    border: 0 none transparent;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: unset !important;
}

table.dataTable tbody tr {
    background-color: unset !important;

    td {
        color: white !important;
    }
}

.dataTables_info {
    color: white !important;
}

.dataTables_paginate .paging_simple_numbers {
    color: white !important;
}

section .pagination li a {
    color: white !important;
}

section .pagination .page-item.active .page-link {
    color: white !important;
}

section .pagination .page-item .page-link {
    color: white !important;
}

table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: unset !important;
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border: unset !important;
}

table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: unset !important;
}

table.dataTable.no-footer {
    border: unset !important;
}

.inside {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 40px 0px 20px;
    @include media-breakpoint-down(md) {
        flex-direction: column;
        padding: 40px 20px 20px;

    }

    .nav {
        border-bottom: unset;

        a {
            text-transform: uppercase;
            color: white;

            &.show {
                background-color: unset;
                border: none;

                &.active {
                    position: relative;
                    color: white;

                    &::after {
                        position: absolute;
                        bottom: 1px;
                        left: 40%;
                        background-color: white;
                        content: "";
                        width: 15px;
                        height: 1px;
                    }
                }
            }

            background-color: unset;
            border: none !important;
        }
    }

    .tab-inside {
        margin-top: 30px;
        padding: 0 1rem;
    }
}

.clan-logo-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //padding: 0 30px;
    width: 100%;
    @include media-breakpoint-down(md) {
        .clan {
            margin: 0 !important;
            padding: 0px 20px;
        }
    }

    .clan {
        @include make-row();
        width: 100%;
        //margin-right: 35px;
        padding: 15px 0;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;

        .content {
            cursor: pointer;
            //li {
            //  min-height: 200px;
            //}
            a {
                border: none;
                background-color: unset;
                color: white;
                margin-top: 20px;
            }

            img {
                //width: 60px;
                height: 110px;
                object-fit: cover;
                display: flex;
                align-self: center;
                justify-self: center;
                border-radius: 50%;
                //margin-bottom: 35px;
            }

            a {
                text-transform: uppercase;
                font-size: 13px;
            }
        }
    }
}


.point-conteneur {
    width: 100%;

    .score {
        font-size: 129px;
        font-weight: bold;
    }

    .point {
        font-size: 30px;
    }
}

#clans {

    background-color: #002650;
    padding: 10px 0px 80px !important;


    .content-info-clan {
        padding-left: 0px;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        display: flex;

        .head-clan {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            h1 {
                color: white;
            }

            .points {
                display: flex;
                align-items: center;
                justify-content: space-around;
                color: white;

                .is_score {
                    margin-right: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .score {

                    }
                }
            }
        }

        .tab-clan {
            width: 50%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 5px;

            .nav {
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: space-between;

            }
        }

        .tab-inside {
            width: 100%;

            .history {
                color: white;
            }

            .any {
                color: white;
                width: 100%;
                text-align: center;
                font-weight: bold;
                font-size: 18px;
            }

            .members {
                .dataTables_wrapper {
                    .row {

                        .display {

                            tr {
                                color: white;

                                th {
                                    border-color: white;
                                }
                            }
                        }
                    }
                }
            }

            .point-conteneur {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: flex-start;

                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;

                    .is-score {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;

                        .score {
                            font-size: 34px;
                            font-weight: bold;
                            padding-right: 15px;
                            color: white;
                        }

                        .point {
                            font-size: 18px;
                            color: white;
                        }
                    }
                }
            }
        }
    }

}

