.leaderboards {
    background-color: #002650;
    padding: 35px 0px;

    background-image: url("/images/asset-3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;

    h3 {
        font-size: 30px;
    }

    .leaderboards-content {
        display: flex;
        padding: 30px 0px 140px;
        @include media-breakpoint-down(md) {
            flex-direction: column;
            .leaderboard-drap{

                &:first-child, &:last-child {
                    transform: translateY(0px) !important;

                    .img {
                        img {
                            max-height: 380px;
                        }
                    }
                }

                &:nth-child(2), &:nth-child(4) {
                    transform: translateY(0px) !important;;

                    .img {
                        img {
                            max-height: 425px;
                        }
                    }
                }

                &:nth-child(3) {
                    transform: translateY(0px) !important;;
                }
            }
        }

        .leaderboard-drap {
            width: 100%;
            height: 100%;
            cursor: pointer;
            position: relative;

            .content {
                position: absolute;
                width: 100%;
                top: 150px;
                text-align: center;

                h4 {
                    //margin-top: 10px;
                    color: white;
                    font-size: 20px;
                    font-weight: bold;
                    text-transform: uppercase;
                }

                .logo {
                    position: relative;
                    top: -60px;
                }
            }

            &:first-child, &:last-child {
                transform: translateY(-80px);

                .img {
                    img {
                        max-height: 380px;
                    }
                }
            }

            &:nth-child(2), &:nth-child(4) {
                transform: translateY(0px);

                .img {
                    img {
                        max-height: 425px;
                    }
                }
            }

            &:nth-child(3) {
                transform: translateY(130px);
            }

            .img {
                img {

                    width: 100%;
                    height: 100%;
                    max-height: 500px;
                    object-fit: contain;
                }
            }
        }
    }
}