.success-section {
    padding: 30px 0px 300px;

    .head {
        h1 {
            font-family: "Avenir", sans-serif;
            font-weight: 200;
            text-transform: uppercase;
            font-size: 30px;
        }

        .sub {

            color: white;
            font-family: "Avenir", sans-serif;
            font-weight: 200;
            font-size: 16px;
        }
    }

    .clan {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .logo-clan {
            margin: 40px 0px;
            width: 100%;
            height: 30vh;
            padding: 20px 0px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .logo-name {
            h3 {
margin-bottom: 40px;
                font-size: 34px;
                font-weight: 400;
                font-family: "Avenir Next", sans-serif;
                color: white;
            }
        }

        .clan-btn {
            margin-top: 30px;
            display: flex;
            align-content: center;
            justify-content: space-between;
            width: 40%;
            margin: 0 auto;

            .btn {
                min-width: 170px;
            }
        }
    }
}