@import "front/home";
@import "front/account";
@import "front/classement";
@import "front/house";
@import "front/leaderboard";
@import "front/challenge";
@import "front/success";

.full {
  height: 100vh;
  overflow: hidden;
  width: 100%;

  &.bg-login {
    opacity: 1 !important;
    background-image: url("/images/back.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
  }
}

.fz-12 {
  font-size: 12px !important;
}

.no-nav {
  .nav {
    display: none;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;

  h1 {
    color: #707070;
    font-size: 50px;
  }
}

.btn-login {
  //background-color: #EF5857;
  background-color: #00649c;
  background: linear-gradient(-45deg, #00649c, #0e86ca, #00649c);
  padding: 15px 30px;
  color: white;
  font-size: 18px;
  min-width: 150px;
}

.hide {
  display: none;
}

.group-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;

  label {
    margin-bottom: 5px;
    font-size: 18px;
    color: black;
  }

  input {
    &:focus {
      outline: unset !important;
    }

    border: none;
    border-bottom: 1px solid black;
    //padding: 0px 15px 15px 0px;
    font-size: 15px;
    color: black;

  }
}

.w-83 {
  width: 83%;
}

.bg-spec {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: white;
}

.black {
  color: black;
}

.after-ligne {
  position: relative;

  &::after {
    content: '';
    background-color: black;
    width: 85%;
    margin: 0 auto;
    height: 1px;
    position: absolute;
    bottom: 0px;
    left: 8%;
  }
}

.edit-profil-section {
  width: 100%;

  .form-group {
    width: 100%;

  }
}

.btn-blue {
  background-color: #002650;
  padding: 7px 45px;
  color: white;
  font-weight: lighter;
  font-family: "Avenir Book", sans-serif;

  &.claire {
    background-color: #003D78;
  }
}
