footer{
    &.footer{
        z-index: 1;
        position: relative;
        border-top: 1px solid #1592E6;
        width: 100%;
        padding: 25px 0px;
        background-color: #022452;
display: flex;
        align-content: center;
        justify-content: center;
    }
}