@import "../../variables.scss";

.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.2);

    &.nav-bg-dark {
        background-color: #00649c;
        background: linear-gradient(-45deg, #00649c, #0e86ca, #00649c);
        //background-color: $primary-light;
    }
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-brand {
    display: inline-block;
    margin: 0 auto 0 0;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;

    &:hover {
        opacity: 1;
    }

    .nav-brand-logo {
        height: 30px;
        width: auto;
    }
}

.nav {
}

.nav-link {
    padding: 1.5rem 1rem;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    color: $text-on-primary;
    letter-spacing: 0.8px;
    font-size: 16px;
    opacity: 0.7;

    &.nav-custom {
        background-color: #3d4751;
        color: #3d4751;
        border-radius: 50%;
        height: 10px;
        padding: 10px 15px;
    }

    &:hover {
        padding: 1.5rem 1.3rem;
        color: $text-on-primary;
        opacity: 1;
        background-color: $primary-dark;
    }

}


//NEW NAVBAR


nav.nav {
    padding: 25px 0px 40px 0px;
    background-color: #002650;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-down(md) {
        .container {
            flex-direction: column;
        }
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;

        &.logo-navbar {
            position: relative;
            top: -14px;
            width: 180px;
            object-fit: cover;
        }
    }

    .navbar-toggler {
        @include media-breakpoint-up(md) {
            display: none;
        }
        //background-color: white;
        border: 1px solid white;

        .navbar-toggler-icon {
            background-image: url("/images/burger-menu.png");
        }

    }

    .collapse {
        &.navbar-collapse {
            display: flex;
            @include media-breakpoint-down(md) {
                display: none;
                &.show {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                }
            }
            flex-basis: unset;
            flex-grow: unset;
            align-items: center;
            justify-content: center;

            .navbar-nav {
                @include media-breakpoint-up(md) {
                    flex-direction: row;
                }
            }
        }
    }

    .links-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;

        .nav-item {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 15px;

            .link {
                color: white;
                font-size: 15px;
                text-transform: uppercase;
                //line-height: 33px;
                font-family: "Avenir", sans-serif;

                &:hover {
                    padding: 0rem 0rem;
                    color: #ffffff;
                    opacity: 1;
                    background-color: unset;
                }

                &.active {
                    font-weight: bold;
                    color: white;
                }
            }
        }
    }
}